@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: rgba(250, 250, 250);
  max-width: 100vw;
  overflow-x: hidden;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

a {
  color: inherit;
  text-decoration: inherit;
}
